<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MusicMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Music">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="textcontent" jdbcType="VARCHAR" property="textcontent" />
        <result column="GMT" jdbcType="TIMESTAMP" property="GMT" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *  from music order by id desc
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select *  from music where id=#{id}
    </select>
    <insert id="insert" >
        insert into music(title,textcontent) values  (#{title},#{textcontent})
    </insert>
    <delete id="deleteById">
        delete from music where id=#{id}
    </delete>
    <update id="updateById">
        update music set title=#{title},textcontent =#{textcontent} where id=#{id}
    </update>
</mapper>
